.Wrapper-personajes {
    background-size:cover;
    background-repeat: no-repeat;
    background-image: url('/assets/bg-charac.jpg');
    display: grid; 
    grid-auto-flow: column; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 0.5fr 1fr; 
    gap: 10px 10px; 
    grid-template-areas: 
        "top top top"
        "names character story"; 
    justify-items: center;
    align-items: center;
}
.top { 
    grid-area: top; 
    justify-content: space-around;
}
.names { grid-area: names; }
.character { grid-area: character; }

.Character-wrapper {
    width: 100%;
    padding: 200px 20px; 
    background-image: url(/assets/cloud_ch.png);
    background-position: center;
    background-size: contain; 
    background-repeat: no-repeat; 
}

.Character-wrapper p {
    color: #310e0e;
}


.story { 
    grid-area: story; }

.Wrapper-personajes--top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    
}
.Wrapper-names {
    position: relative;
    display: inline-block;
}
.Wrapper-names {
    list-style: none;
    padding: 0;
}



.personaje-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    font-weight: bold;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    padding: 10px;

}




.Wrapper-names img {
    display: block;
    width: 90%;
}

.Wrapper-names li {
        font-family: 'Karasha';
        font-size: 2rem;
        -webkit-text-stroke-width: 0.03rem;
        -webkit-text-stroke-color: rgb(50, 11, 11);
        top: 50%;
        color: white;
}

.Wrapper-personajes--p {
    width: 30%;
    font-size: clamp(0.7rem, 0.4137rem + 0.916vw, 1rem);
    color: rgb(50, 11, 11);
   
    padding: 20px 20px; 

    background-position: center;
    background-size: contain; 
    background-repeat: no-repeat; 
}

.Wrapper-personajes--h2 {
    font-size: 3rem;
    font-family: 'Karasha';
    color: #D3C0AA;
}

.Wrapper-story {
    background-image: url(/assets/pergamino.png);
    background-position: center;
    background-size: contain; 
    background-repeat: no-repeat;

}

.Wrapper-story {
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: space-between; /* Espacia el contenido a los lados del contenedor */
    background-image: url(/assets/pergamino.png);
    background-position: center;
    background-size: contain; 
    background-repeat: no-repeat;
    width: 95%; 
    height: auto; 
    min-height: 80vh; 
}

.Wrapper-story-text {
    width: 60%;
    margin-left: 5rem;
    font-size: clamp(0.6rem, 0.3275rem + 1.8321vw, 1rem);
}

.personaje-imagen {
    max-width: 100%; 
    height: auto; 
    margin: 0 auto;
}



.Wrapper-div--personajes {
    margin-top: 4rem;
    margin-left: 6rem;
    width: 50%;
}

.Wrapper-story--ul {
    margin: 5.5rem 4rem 0 4.5rem;

}

.Wrapper-story--ul li {
    font-size: .9rem;
}

.Wrapper-story--h2 {
    font-size: 2rem;
    font-family: 'Karasha';
    margin: 0 auto;
    padding: 1rem;
}



.Creator {
    background-color: #543426;
}

.Wrapper-creator {
    display: grid; 
    grid-auto-flow: column; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    gap: 1.3rem; 
    padding: 1.5rem;
    grid-template-areas: 
      "nombre descripcion img"
      "raza descripcion enviar"
      "clase descripcion eliminar"
      "nivel descripcion ."; 

  }

.Wrapper-creator input {
    background-color: #D3C0AA;
    font-size: .8rem;
    border-radius: 0.3rem;
}  

.Wrapper-names h3 {
    margin-bottom: 10px; 
}

.Wrapper-names {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
}
.Wrapper-names h3 {
    display: inline-block;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    cursor: pointer;
}

.nombre, .raza, .clase, .nivel {
    width: 80%;
    padding: .5rem;
}

  .nombre { grid-area: nombre; }
  .raza { grid-area: raza; }
  .clase { grid-area: clase; }
  .nivel { grid-area: nivel; }
  .descripcion { grid-area: descripcion; }
  .img { grid-area: img; }
  .enviar { grid-area: enviar; }
  .eliminar { grid-area: eliminar; }
  .descripcion {
    background-color: #D3C0AA;
    border-radius: .3rem;
    font-size: .8rem;
    padding: .5rem;
  }

.enviar, .eliminar, .actualizar, .img {
    width: 50%;
    margin-left: 4rem;
    background-color: #d3c0aa64;
    border-radius: .3rem;
    font-size: .8rem;
    padding: .5rem;
    transition: 1s ease;
}

.enviar:hover, .eliminar:hover, .actualizar:hover, .img:hover {
    background-color: #d3c0aaa5;
    cursor: pointer;
}

.Wrapper-personaje--noseleccionado {
    margin: 0rem 0 0 7rem;
    width: 50%;
}

.Wrapper-img--personaje {
    display: flex;
    align-items: center;
    
    width: 100%;
    max-width: 400px;
}

.imagen {
    display: none; 
}

.Wrapper-img--personaje label {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c09c72; 
    color: white;
    padding: 10px 15px;
    border-radius: 0 5px 5px 0;
    font-size: 0.8rem;
    cursor: pointer;
    white-space: nowrap; 
}

.input-fake {
    background-color: #f9f9f9;
    border-radius: 5px 0 0 5px;
    padding: 14px;
    flex-grow: 1;
    font-size: 14px;
    color: #666; 
}




.Div-links {
    display: flex;
    background-color:#543426 ;
    padding: 2rem;
}
.Div-links ul {
    font-size: 1.1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    gap: 4rem;
    color: #D39C8A;
    filter: drop-shadow(1px 4px 2px #51291c);

}

.Footer-li a {
    font-family: 'Julee', Arial;
}

.Div-links a:hover {
  color: #D39C8A;
}


.Div-links a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px; 
  width: 100%;
  height: 2px; 
  background-color: #D39C8A;
  transform: scaleX(0); 
  transition: transform 0.3s ease;
}

.Div-links a:hover::after {
  transform: scaleX(1); 
}
.Footer-ul li {
  transition: transform 0.5s ease-in-out;
}
.Footer-ul li:hover {
  transform: translateY(15%);
}

.Div-p {
    margin-left: 20rem;
    font-size: 0.7rem;
    color: #D39C8A;

}

@media only screen and (max-width: 768px) {

    .Wrapper-tragedia--right {
        padding-bottom: .3rem;
    }

    .Wrapper-tragedia--h3 {
    margin: 0;
    
    }

    .Wrapper-personajes {
        background-image: url('/assets/bg-charac-m.jpg');
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 20px;
        grid-template-areas:
            "top"
            "names"
            "character"
            "story";
    }
    .Wrapper-personajes--h2 {
        font-size: 2rem;
        font-family: 'Karasha';
        color: #D3C0AA;
        margin: 0 auto;
        padding-top: 2rem;
    }
    .Wrapper-personajes--top {
        display: flex;
        flex-direction: column;
       
    }
    .Wrapper-personajes--p {
        width: 95%;
        font-size: 1rem;
        color: black;
        margin: 0 auto;
        text-align: center;
        background-image: url(/assets/cloud_ch.png);
        background-position: center;
        background-size: contain; 
        background-repeat: no-repeat; 
        padding: 2rem 0 2rem 0;
    }

    .Wrapper-personaje--noseleccionado {
        width: 40%;
        margin: 0;
        margin-top: 9rem;
    }

    .Wrapper-names {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        padding: 10px;
    }

    .Wrapper-names h3 {
        font-size: 1.5rem;
    }

    .character {
        justify-self: center;
    }

    .Wrapper-story {
        background-size:contain;
        width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        min-height: 100vh;
    }

    .Wrapper-story--h2 {
        font-size: clamp(1.2rem, 0.0229rem + 1.5267vw, 1.5rem);
        font-family: 'Karasha';
        margin: 0 auto;
        padding: 1rem;
    }

    .Wrapper-story-text {
        width: 50%;
        margin: 0;
        padding-top: 2rem;
        line-height: 1.5rem;
        font-size: clamp(0.8rem, 0.0229rem + 1.5267vw, 1rem);
    }

    .personaje-imagen {
        max-width: 90%;
        height: auto;
    }

    .Creator {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .Wrapper-creator {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, auto);
        grid-template-areas:
            "nombre"
            "descripcion"
            "img"
            "raza"
            "clase"
            "nivel"
            "enviar"
            "eliminar";
        gap: 20px;
    }

    .nombre, .raza, .clase, .nivel, .descripcion, .img, .enviar, .eliminar {
        width: 100%;
        margin: 0;
    }

    

    .Div-links {
        flex-direction: column;
        padding-top: 1rem;
    }

    .Div-links ul {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    .Div-p {
        margin-left: 0;
        text-align: center;
        padding-top: 2rem;
    }
    .descripcion {
            width: 100%;
            min-height: 20vh;
            margin: 0;
        }

    .enviar, .eliminar {
        width: 70%;
    }
    }

